.chart {
  width: 100%; 
  min-height: 550px;
}

/*************************************************
 *  Awards Courses
 **************************************************/

#container-awards {
  display: block;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
   .awards-date {
      text-align: right; 
  }
}

@media (min-width: 768px) {
   .awards-details-long {
      text-align: right; 
  }
}


